<div class="card">
  <div class="card-content">
    <div class="card-title">
      Click to choose (Showing top 20 results)
    </div>
    <table class="responsive-table highlight">
      <thead>
        <tr>
          <th>Name<br /><input type="name" id="name" ng-model="searchName" ng-change="search(searchName,searchNationality,'CHOOSE_PLAYER',searchRating,searchValue)"placeholder="Search name"></th>
          <th>Nationality<br /><input type="name" id="nation" ng-model="searchNationality" ng-change="search(searchName,searchNationality,'CHOOSE_PLAYER',searchRating,searchValue)" placeholder="Search nationality"></th>
          <th>Rating<br /><input type="name" id="rating" ng-model="searchRating" ng-change="search(searchName,searchNationality,'CHOOSE_PLAYER',searchRating,searchValue)" placeholder="Search maximum rating"></th>
          <th>Value<br/><input type="name" id="value" ng-model="searchValue" ng-change="search(searchName,searchNationality,'CHOOSE_PLAYER',searchRating,searchValue)" placeholder="Search maximum value"></th>
        </tr>
      </thead>
      <tbody>
        <tr style="cursor:pointer" ng-repeat="player in validate()" ng-click="addPlayer(player.Name,player.Nationality,player.Rating,player.Value)">
          <td>
            {{ player.Name }}
          </td>
          <td>
            {{ player.Nationality }}
          </td>
          <td>
            {{ player.Rating }}
          </td>
          <td>
            ${{ player.Value }}m
          </td>
        </tr>
      </tbody>
    </table>
    <div ng-show="validate().length===0" class="card-action">
      There are no players that fit you're budget
    </div>
  </div>
</div>
