<div class="card">
  <div class="card-content">
    <div class="card-title">
      Search the entire player database of 17000+ players (Showing top 20 results)
    </div>
    <table class="responsive-table highlight">
      <thead>
        <tr>
          <th>Name<input type="name" id="name" ng-model="searchName" ng-change="search('Name',searchName)"placeholder="Search name"></th>
          <th>Nationality<input type="name" id="nation" ng-model="searchNationality" ng-change="search('Nationality',searchNationality)" placeholder="Search nationality"></th>
          <th>
            Position<input type="name" id="position" ng-model="searchPosition" ng-change="search('Preffered_Position',searchPosition)" placeholder="Search position">
          </th>
          <th>Rating<input type="name" id="rating" ng-model="searchRating" ng-change="search('Rating',searchRating)" placeholder="Search maximum rating"></th>
        </tr>
      </thead>
      <tbody>
        <tr style="cursor:pointer" ng-repeat="player in playerData">
          <td>
            {{ player.Name }}
          </td>
          <td>
            {{ player.Nationality }}
          </td>
          <td>
            {{ player.Preffered_Position }}
          </td>
          <td>
            {{ player.Rating }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
