.green-background-color{
  background-color: #228b22;
}
.brand-logo{
  margin-left: 1%;
}
.container{
  margin-top: 2%;
}
.nav-wrapper ul{
  width: 50%;
}
#username{
  font-size: 2em;
  margin-left: 1em;
  margin-right: 1em;
}
